body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard {
    background-color: #3e7863;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.dashboard h2 {
    margin-top: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.character-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.character {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 16px;
    padding: 10px;
    background-color: white;
}

.character img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.info {
    color: #ffffff;
    font-size: 0.95em;
    padding: 30px;
}

.info, .equivalent {
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.equivalent {
    margin-top: 20px;
}

.equivalent span {
    display: block;
    margin-top: 6px;
}

.footer-link {
    margin-top: 20px;
    font-size: 0.8em;
    color: #cfcfcf;
    text-align: right;
}

.footer-link a {
    color: #cfcfcf;
    text-decoration: underline;
}

.content {
    background-color: #3e7863;
    padding: 20px;
    border-radius: 12px;
    width: 320px; /* Decreased width */
    height: 400px; /* Fixed height */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 0;
}

h2 {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 20px;
}

p, ul {
    font-size: 0.95em;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #cfcfcf;
    text-decoration: underline;
}

.back-link {
    display: inline-block;
    background-color: #ffffff;
    color: #3e7863;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px; /* Add spacing above the link */
    text-align: center;
}

.back-link:hover {
    background-color: #e6e6e6;
}